<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }} // 0b10011.io</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/style/style.css">
		{% include google-analytics.html %}
	</head>
	<body>
		<header>
			<h1>{{ page.title }}</h1>
			<p class="date">Gracing the web with its presence since <time>{{ page.date | date: "%B %d, %Y" }}</time></p>
		</header>
		{{ content }}
		<footer>
			<p><a href="/">0b10011.io</a></p>
		</footer>
	</body>
</html>
